@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/img.jpg);
}
.container-jogo{
    width: 480px;
    height: 400px;
    background-color: darkmagenta;
    color: #130716;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.confirmar_numero{
    padding: 12px 24px;
    background-color: green; 
    color: white; 
    font-size: 16px;
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}
input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
.confirmar_numero:hover {
    background-color: rgb(5, 175, 5); /* Cor de fundo no hover */
    transform: translateY(-3px); /* Levanta o botão quando passa o mouse */
}